
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Title</title>
</head>
<body>
<h1>Hello, Apa Kabar?</h1>


<div>
    <form id="form" method="POST" action ="{% url 'appTdd:index' %}">
        {% csrf_token %}
        {% for field in listform %}
            {{ field.label_tag }}
            <br>
            {{field}}

        {% endfor %}
        <br>
        <button type="submit" id="button" class="btn btn2 btn-success">Submit </button>
    </form>
</div>
<div class = "container">
    {% for result in Tdd_Form %}
    <div>
        <h5>Date: {{result.my_time}}</h5>
        <h5>Status: {{result.my_status}}</h5>
    </div>
    {% endfor %}
</div>

</body>
</html>